/* Fallback regarded */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

nav {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    height: 109px;
    padding-top: 30px;
    padding-bottom: 49px;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    
}

#menu_btn {
    display: none;
}

nav ul li a:hover {
    color: #29d9c3;
    
}

nav ul {
    list-style: none;
    float: right;
    padding-right: 256px;
    padding-left: 0px;
    padding-top: 4px;
}


header {
    padding-top: 324px;
    height: 980px;
    background-image: url('../img/back.jpg');
    background-size: cover;
    box-sizing: border-box;
}

header h1 {
    font-family: Raleway, Arial;
    color: #ffffff;
    font-size: 90px;/* Approximation due to font substitution */
    font-weight: bold;
    line-height: 100px;/* Approximation due to font substitution */
    text-align: left;
    margin: 0;
}

header h1 span {
    color: #56c1d3;
}

header p {
    font-family: 'Playfair Display', Arial;
    color: #ffffff;
    font-size: 36px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 19px;/* Approximation due to font substitution */
    text-align: left;
    margin: 0;
    padding-top: 41px;
    padding-bottom: 49px;
}


/* botton property as bootstrap */
.btn_cool {
    display: inline-block;
    width: 220px;
    height: 37px;
    text-align: center;
    padding: 21px 0px 0px 0px;
    margin-right: 21px;
    font-family: Raleway, Arial;
    text-decoration: none;
}

/* Background for buttons */
.white {
    background-color: white;
    color: black;
}

.black {
    background-color: black;
    color: white;    
}

.green {
    background-color: #29d9c2;
    color: white;
}

.transparent {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

#section1 {
    height: 507px;
    background-color: #ffffff;
    text-align: center;
}

#section1 h2 {
    font-family: Raleway, Arial;
    color: black;
    font-size: 36px;/* Approximation due to font substitution */
    font-weight: 700;
    line-height: 100px;/* Approximation due to font substitution */
    text-align: center;
    padding-top: 149px;
    margin: 0;
} 

#section1 h3 {
    font-family: 'Playfair Display', Arial;
    color: #29d9c3;
    font-size: 24px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 19px;/* Approximation due to font substitution */
    text-align: center;
    margin: 0;
}

#section1 p {
    font-family: 'Playfair Display', Arial;
    color: #a1b1bc;
    font-size: 24px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 40px;/* Approximation due to font substitution */
    text-align: center;
    margin-top: 69px;
}

#prefooter {
    background-color: rgba(170, 194, 193, 0.4);
    height: 980px;
    padding-top: 450px;
    box-sizing: border-box;
}

#prefooter a {
    margin-left: 497px;
    margin-top: 49px;
}

#prefooter p {
    font-family: Raleway, Arial;
    color: #ffffff;
    font-size: 90px;/* Approximation due to font substitution */
    font-weight: 800;
    line-height: 100px;/* Approximation due to font substitution */
    text-align: center;
    margin: 0;
}

footer {
    height: 120px;
    background-color: #1a1c27;
    padding-top: 37px;
    box-sizing: border-box;
}

footer p {
    font-family: Lato, Arial;
    color: #a1b1bc;
    font-size: 18px;/* Approximation due to font substitution */
    font-weight: 700;
    line-height: 30px;/* Approximation due to font substitution */
    text-align: center;
    margin: 0;
}

footer p span {
    font-family: FontAwesome, Arial;
    color: #29d9c3;
    font-size: 18px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 30px;/* Approximation due to font substitution */
    text-align: center;
}

.section2 {
    height: 1080px;
    background-color: #66cddf;
    padding-top: 350px;
    box-sizing: border-box;
}

.to_the_left {
    float: left;
}
.section2 h2 {
    font-family: Raleway, Arial;
    color: #ffffff;
    font-size: 72px;/* Approximation due to font substitution */
    font-weight: 700;
    text-align: left;
    margin: 0;
}


.section2 p.p1 {
    font-family: 'Playfair Display', Arial;
    color: #ffffff;
    font-size: 24px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 19px;/* Approximation due to font substitution */
    text-align: left;
    padding-top: 37px;
}

.section2 p.p2 {
    font-family: Lato, Arial;
    color: #ffffff;
    font-size: 14px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 24px;/* Approximation due to font substitution */
    text-align: left;
    padding-bottom: 25px;

}

.section2 img {
    width: 510px;
    height: 340px;
    float: right;
    padding-top: 13px;
}

.section3 {
    background-color: #ffffff;
    height: 1080px;
    padding-top: 348px;
    box-sizing: border-box;
}

.section3 img {
    width: 510px;
    height: 340px;
    padding-top: 24px;
}

.section3 p.p2 {
    font-family: PlayfairDisplay;
    color: #a1b1bc;
    font-size: 24px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 19px;/* Approximation due to font substitution */
    text-align: left;
    margin-bottom: 0px;
}

.section3 p.p3 {
    font-family: Lato;
    color: #a1b1bc;
    font-size: 14px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 24px;/* Approximation due to font substitution */
    text-align: left;
    margin: 0;
    padding-top: 63px;
    padding-bottom: 29px;
}

.to_the_right {
    float: right;
}


.section3 p.p1 {
    font-family: Raleway, Arial;
    color: rgba(47, 41, 51, 0.5);
    font-size: 72px;/* Approximation due to font substitution */
    font-weight: 700;
    line-height: 100px;/* Approximation due to font substitution */
    text-align: left; 
    margin: 0;
}

#section7 {
    background-color: #222533;
    height: 960px;
    padding-top: 351px;
    box-sizing: border-box;
}


#section7 p.p1 {
    font-family: Raleway, Arial;
    color: #ffffff;
    font-size: 88.97px;/* Approximation due to font substitution */
    font-weight: 800;
    line-height: 19px;/* Approximation due to font substitution */
    text-align: left;
    margin: 0;
    text-align: center;
    padding-bottom: 27px;
}
#section7 p.p1 span {
    color: #29d9c3;
    font-family: Lato;
}

#section7 p.p3 {
    font-family: Lato, Arial;
    color: #a1b1bc;
    font-size: 14px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 24px;/* Approximation due to font substitution */
    text-align: center;
}

#section7 p.p3 span {
    color: #ffffff;
}

#section7 p.p2 {
    font-family: 'Playfair Display', Arial;
    color: #ffffff;
    font-size: 24px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 19px;/* Approximation due to font substitution */
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 67px;
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox]:checked ~ nav ul {
	display: block;
}

/* Responsive design for mobiles */
@media only screen and (max-width: 500px) {
    .wrapper {
        width: 100%;
        margin: 0;
    }
    
    nav {
        position: fixed;
    }
    
    nav ul {
        display: none;
    }
    
    nav img {
        width: 150px;
        padding-top: 5px;
        float: left;
        margin-left: 32px;
    }
    
    #menu_btn {
        display: inline-block;
        margin-top: 13px;
    }
    
    label {
        display: inline-block;
        background-color: aqua;
        margin-left: 110px;
        padding: 5px;
    }
}